<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi primera pagina</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<div id="training-header" class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Employees</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                        <span>Add New Employee</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${items}">
                <td>[[${item.name}]]</td>
                <td>[[${item.lastname}]]</td>
                <td>[[${item.phone}]]</td>
                <td>
                    <a href="#editEmployeeModal" th:attr="data-id=${item.clientId}, data-name=${item.name}, data-lastname=${item.lastname}, data-phone=${item.phone}" class="edit" data-toggle="modal"><i class="material-icons"
                                                                                     data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a href="#deleteEmployeeModal" th:attr="data-id=${item.clientId}" class="delete" data-toggle="modal"><i class="material-icons"
                                                                                         data-toggle="tooltip"
                                                                                         title="Delete">&#xE872;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="modals/add-client-modal"></div>
<div th:replace="modals/loggin-client-modal"></div>
<div th:replace="modals/edit-client-modal" ></div>
<div th:replace="modals/delete-client-modal"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>